/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   CUSTOM Styles
----------------------------------------- */

.reveal img.social {
    display: inline-block;
    border: none;
    background: none;
    margin-right: 8px;
}